body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dice-container {
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: 10px;
}

.die {
    width: 40px;
    height: 40px;
    font-size: larger;
}

.locked {
    background-color: lightblue;
}

.rolling-container {
    width: 280px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#roll {
    width: 60px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: medium;
    text-transform: uppercase;
}

table {
    background-color: white;
    border-collapse: collapse;
    width: 280px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
}

th {
    background-color: #f5f5f5;
}

tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.score {
    text-align: center;
    width: 20px;
}

/* Clickable scorecard cells */
.possible-score {
    background-color: lightgreen;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.no-possible-score {
    background-color: lightpink;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.possible-score:hover, .no-possible-score:hover {
    background-color: lightblue; 
}
